* {
    color: white
}

.nav-item:hover {
    cursor: pointer;
    background-color: #1c2130
}

.stat-box {
    /* background-color: #474B58; */
    width: 12vw;
    height: 12vw;
    margin: auto
}

.chart-box {
    width: 37vw;
    height: 23vw;
    margin: auto
}

.st-pl-data {
    color: #A1CA8A;
}

.avg-ctc-data {
    color: #FFEAAD;
}

.med-ctc-data {
    color: #A1CA8A;
}

.hi-ctc-data {
    color: #028F76;
}

.lo-ctc-data {
    color: #D14334;
}

.avg-cpi-data {
    color: #FFEAAD;
}

button {
    background-color: #474B58;
    border: none;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
}

option {
    color: #1c2130;
}

table {
    width: 100%
}

tr:hover {
    cursor: pointer;
    background-color: #1c2130;
}

tbody tr:nth-child(odd) {
    background-color: #474B58;
}

th,
td {
    margin: "auto";
    max-width: 18vw;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}